
        <div class="container d-flex flex-row justify-content-end">
            <p>Photos by Matt Botsford,Aaron Burden,</p>
                <p>Relentless Church, Tim Marshall</p>
                <p>and Jeremy Perkins on <a href="http://unsplash.com">Unsplash</a></p>
            <p>Trademark 2018 by Michael Hibbard.</p>
        </div>
        
        <section class="footer">
            <div class="container">
                <h3 class="p-2">Connect With Us</h3>
                <p class="p-2">Curious about who we are and what we do?  
                    We’d love for you to explore The Grove using our social media.  
                    We extend our core values, our Scriptural Calling, and our 
                    mission and vision into our social media networks, so you can
                    get a good idea of what we are about.</p>
                </div>
                <div class="container pt-3 pb-3">
                    <div class="d-flex flex-row justify-content-center">

                        <div class="icons p-2">
                            <a href="http://youtube.com">
                                <i class="fab fa-youtube-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="icons p-2">
                            <a href="http://facebook.com">
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="icons p-2">
                            <a href="http://instagram.com">
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </div>
                        <div class="icons p-2">
                            <a href="http://twitter.com">
                                <i class="fab fa-twitter-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="icons p-2">
                            <a href="http://vimeo.com">
                                <i class="fab fa-vimeo-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="icons p-2">
                            <a href="http://google.com">
                                <i class="fab fa-google-plus-square fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

        </body>
    <script type="text/javascript" src="app.js"></script>
</html>
