
        <section class="footer">
            
            <div>
                <h3 class="">Connect With Us</h3>
                <div class="">
                    <div class="">
                        <div class="icons">
                            <a href="https://www.facebook.com/grovecommunity/">
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="icons">
                            <a href="https://www.youtube.com/channel/UCahfASqUmiUf3q-MM_qfPYA">
                                <i class="fab fa-youtube-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="icons">
                            <a href="https://twitter.com/grovechurchtv">
                                <i class="fab fa-twitter-square fa-2x"></i>
                            </a>
                        </div>
                        <div class="icons">
                            <a href="https://vimeo.com/grovechurchtv">
                                <i class="fab fa-vimeo-square fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <p>Photos by Matt Botsford,Aaron Burden,</p>
                    <p>Relentless Church, Tim Marshall</p>
                    <p>and Jeremy Perkins on <a href="http://unsplash.com">Unsplash</a></p>
                <p>Trademark 2018 by Michael Hibbard.</p>
            </div>
        </section>

    </body>
    <!-- <script type="text/javascript" src="app.js"></script> -->
</html>
