
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Grove Community Church</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	</head>
	<body>
		<header class="header">
			<nav class="header__nav">
				<div class="header__nav-logo">
					<a href="/"><img src="images/grove-smallerlogo.png" alt="The Grove Logo" class="header__nav-logo--img"></a>
				</div>

				<div class="header__nav-right">
					<ul>
						<li>
							<div class="dropDown topBotomBordersOut">
								<a href="/about">About <i class="fas fa-angle-down"></i></a>
								<!-- <div> -->
									<ul class="dropDown-content topBotomBordersOut">
										<li><a href="/about">Our Mission and Vision</a></li>
										<li><a href="/call">Our Call</a></li>
										<li><a href="/story">Our Story</a></li>
										<li><a href="/story#leadership">Leadership</a></li>
									</ul>
								<!-- </div> -->
							</div>
						</li>
						<li>
							<a href="https://www.paypal.me/grovecc">Donate</a>
						</li>
						<li>
							<div class="dropDown topBotomBordersOut">
								<a href="/media">Media <i class="fas fa-angle-down"></i></a>
								<div>
									<ul class="dropDown-content topBotomBordersOut">
										<li><a href="https://sermons.faithlife.com/profile/independence-grove-community">Listen</a></li>
										<li><a href="https://www.youtube.com/channel/UCahfASqUmiUf3q-MM_qfPYA">Watch</a></li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UCahfASqUmiUf3q-MM_qfPYA">What's Happening</a>
						</li>
						<li>
							<a href="/coffee">Coffee House</a>
						</li>
						<span>
							<a class="hidden-icon">
								<i class="fas fa-bars"></i>
							</a>
						</span>
					</ul>
				</div>
			</nav>
		</header>
		