
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Grove Community Church</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="">
			<div class="logo nav-left">
				<a href="/">The Grove</a>
			</div>

			<div class="nav-right">
				<div class="dropDown">
					<a href="/about">About <i class="fas fa-angle-down"></i></a>
					<div class="dropDown-content">
						<a href="/about">Our Mission and Vision</a>
						<a href="/call">Our Call</a>
						<a href="/story">Our Story</a>
						<a href="/story#leadership">Leadership</a>
					</div>
				</div>
				<a href="https://www.paypal.me/grovecc">Donate</a>
				<a href="/media">Media <i class="fas fa-angle-down"></i></a>
				<div>
					<a href="#">Listen</a>
					<a href="https://www.youtube.com/channel/UCahfASqUmiUf3q-MM_qfPYA">Watch</a>
				</div>
				<a href="https://www.youtube.com/channel/UCahfASqUmiUf3q-MM_qfPYA">What's Happening</a>
				<a href="/coffee">Coffee House</a>
			</div>
			<a class="hidden-icon">
				<i class="fas fa-bars"></i>
			</a>
		</nav>
