
<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<meta charset="UTF-8">
		<title>Grove Community Church</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
	</head>
	<body>
		<nav class="navbar sticky-top navbar-expand-lg" style="background-color: #4c9d2f;">
			<!-- Navbar content -->
			<div class="container">
				<a class="navbar-brand" href="/">The Grove</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" 
					aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
					<ul class="navbar-nav mt-2 mt-lg-0" id="nav-left">
						<!-- <li class="nav-item">
							<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
						</li> -->
						<li class="nav-item dropdown active ">
							<a class="nav-link dropdown-toggle" href="/about" id="navbarDropdownMenuAbout" 
								role="button" data-toggle="dropdown" aria-haspopup="true" 
								aria-expanded="false">

								About
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuAbout">
								<a class="dropdown-item" href="/about">Our Mission and Vision</a>
								<a class="dropdown-item" href="/call">Our Call</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/story">Our Story</a>
								<a class="dropdown-item" href="/contact">Leadership</a>
							</div>
						</li> <!-- Close dropDown-About link item-->
						<li class="nav-item">
							<a class="nav-link" href="#">Donate</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/media" id="navbarDropdownMenuMedia" 
								role="button" data-toggle="dropdown" aria-haspopup="true" 
								aria-expanded="false">

								Media
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuMedia">
								<a class="dropdown-item" href="#">Listen</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Watch</a>
							</div>
						</li> <!-- Close dropDown-Media link item-->
						<li class="nav-item">
							<a class="nav-link" href="#">What's Happening</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/coffee">Coffeehouse</a>
						</li>
					</ul>
				</div>
			</div> <!-- containter div closing-->
		</nav>
