<% include ./partials/header %>

<div class="container">
    <h1>Our Vision, Mission and Call:</h1>
    <h3>our vision…</h3>
        <p>At The Grove, we believe that a VISION is what you hope to see happen in the lives of people as you engage in the community.  The Grove’s mission is this: “INSPIRING PEOPLE TO FLOURISH THROUGH A PASSION FOR JESUS CHRIST!”</p>
    <h3>our mission…</h3>
        <p>We believe that a MISSION is what you are committed to DOING as you engage in the community.  The Grove’s mission is this: “WE EXIST TO REACH OUR COMMUNITY SO WE CAN INSPIRE PEOPLE TO FLOURISH THROUGH THE VIBRANT AND ABUNDANT LIFE CHRIST HAS EXTENDED TO EVERYONE (EPHESIANS 3:16-18) AND THROUGH THE EXPERIENCE AND PASSION OF A LIFE FULLY DEVOTED TO GOD THROUGH THE POWER OF JESUS AND THE Holy Spirit (EPHESIANS 3:19-21).”</p>
    
    <h3>What to expect:</h3>
        <p>here some content will show up to explain to newcomers and church-looking people what they should expect at this church.</p>

    <!-- <a tabindex="0" class="btn btn-outline-info" role="button" data-toggle="popover" data-trigger="focus" title="Did you know that The Grove is associated with the church of the Nazarene?" data-content="You can find out more information on the church of the nazarene by clicking the link on the navbar about dropdown.">Click for Fun Fact</a> -->
</div>

<% include ./partials/footer %>