<% include ./partials/header %>
<div class="container">
    <h3>our call…</h3>
    <p>The Grove, we believe that we are called to live out God’s Word in the world through and in our community.  Our call to our community is based on Ephesians 3:14-21.  Below is a look at this passage of Scripture, and what we believe God has called us to do in response to His word.</p>
</div>
    
<hr class="my-4">

<div class="container">
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="accordion-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Verse 14: “For this reason I kneel before the Father...”
                </button>
            </h5>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                Our response: WE ARE CALLED TO PRAY FIRST!
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Verse 15: “From whom every family in heaven and on earth derives its name…”
                </button>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Our Response: WE ARE CALLED TO SEE THE VALUE IN EVERYONE!
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Verse 16: “I pray that out of his glorious riches he may strengthen you with power through His Spirit in your inner being…”
                </button>
            </h5>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Our Response: WE ARE CALLED TO BELIEVE THAT JESUS CHANGES EVERYTHING!
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Verse 17: “So that Christ may dwell in your hearts through faith.  And I pray that you, being rooted and established in love…”
                </button>
            </h5>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                Our Response: WE ARE CALLED TO KNOW GOD THROUGH A RELATIONSHIP WITH JESUS!
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Verse 18: “May have power, together with all the Lord’s holy people, to grasp how wide and long and high and deep is the love of Christ…”
                </button>
            </h5>
        </div>

        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                Our Response: WE ARE CALLED TO EXPRESS CHRIST’S LOVE THROUGH COMMUNITY!
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Verse 19: “And to know this love that surpasses knowledge — that you may be filled to the measure of all the fullness of God…”
                </button>
            </h5>
        </div>

        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                Our Response: WE ARE CALLED TO GIVE GOD OUR WHOLE HEART!
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Verse 20: “Now to him who is able to do immeasurably more than all we ask or imagine, according to his power that is at work within us…”
                </button>
            </h5>
        </div>

        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                Our Response: WE ARE CALLED TO HAVE BIG FAITH!
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEight">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Verse 21: “To him be glory in the church and in Christ Jesus throughout all generations, for ever and ever!  Amen!”
                </button>
            </h5>
        </div>

        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
                Our Response: WE ARE CALLED TO FOCUS ON WHAT MATTERS!
            </div>
        </div>
    </div>
    
</div> <!-- close accordion div -->
</div>

<hr>

<div class="container">
    <p>
        [ALL SCRIPTURE USED IS FROM THE NEW INTERNATIONAL VERSION]
    </p>
    <div>
        <a tabindex="0" class="btn btn-outline-info" role="button" data-toggle="popover" data-trigger="focus" 
        title="Did you know that The Grove is associated with the church of the Nazarene?" 
        data-content="You can find out more information on the church of the nazarene by clicking the link on the navbar about dropdown.">
            Click for Fun Fact
        </a>
    </div>
    <div>
        <a tabindex="0" class="btn btn-outline-info" role="button" data-toggle="popover" data-trigger="focus" 
        title="Did you know that The Grove is associated with the church of the Nazarene?" 
        data-content="You can find out more information on the church of the nazarene by clicking the link on the navbar about dropdown.">
            Click for Fun Fact
        </a>
    </div>
    <div>
        <a tabindex="0" class="btn btn-outline-info" role="button" data-toggle="popover" data-trigger="focus" 
        title="Did you know that The Grove is associated with the church of the Nazarene?" 
        data-content="You can find out more information on the church of the nazarene by clicking the link on the navbar about dropdown.">
            Click for Fun Fact
        </a>
    </div>
</div>

<% include ./partials/footer %>