<% include ./partials/header %>

<section>
    <h1>our call…</h1>
    <p>The Grove, we believe that we are called to live out God’s Word in the world through and in our community.  Our call to our community is based on Ephesians 3:14-21.  Below is a look at this passage of Scripture, and what we believe God has called us to do in response to His word.</p>

    <div class="main-page__card-wrap">
        <div class="main-page__card-copy"> 
            <div>Verse 14: “For this reason I kneel before the Father...</div>
            <div>Our response: WE ARE CALLED TO PRAY FIRST!</div>
        </div>
        <div class="main-page__card-img main-page__card-img-1">
        </div>
    </div>
    <div>
        Verse 15: “From whom every family in heaven and on earth derives its name…”
        Our Response: WE ARE CALLED TO SEE THE VALUE IN EVERYONE!
    </div>
    <div>
        Verse 16: “I pray that out of his glorious riches he may strengthen you with power through His Spirit in your inner being…”
        Our Response: WE ARE CALLED TO BELIEVE THAT JESUS CHANGES EVERYTHING!
    </div>
    <div>
        Verse 17: “So that Christ may dwell in your hearts through faith.  And I pray that you, being rooted and established in love…”
        Our Response: WE ARE CALLED TO KNOW GOD THROUGH A RELATIONSHIP WITH JESUS!
    </div>
    <div>
        Verse 18: “May have power, together with all the Lord’s holy people, to grasp how wide and long and high and deep is the love of Christ…”
        Our Response: WE ARE CALLED TO EXPRESS CHRIST’S LOVE THROUGH COMMUNITY!
    </div>
    <div>
        Verse 19: “And to know this love that surpasses knowledge — that you may be filled to the measure of all the fullness of God…”
        Our Response: WE ARE CALLED TO GIVE GOD OUR WHOLE HEART!
    </div>
    <div>
        Verse 20: “Now to him who is able to do immeasurably more than all we ask or imagine, according to his power that is at work within us…”
        Our Response: WE ARE CALLED TO HAVE BIG FAITH!
    </div>
    <div>
        Verse 21: “To him be glory in the church and in Christ Jesus throughout all generations, for ever and ever!  Amen!”
        Our Response: WE ARE CALLED TO FOCUS ON WHAT MATTERS!
    </div>

    <p>
        [ALL SCRIPTURE USED IS FROM THE NEW INTERNATIONAL VERSION]
    </p>

</section>

<% include ./partials/footer %>