<% include ./partials/header %>
<div class="">
    <h3>our call…</h3>
    <p>The Grove, we believe that we are called to live out God’s Word in the world through and in our community.  Our call to our community is based on Ephesians 3:14-21.  Below is a look at this passage of Scripture, and what we believe God has called us to do in response to His word.</p>
</div>
<div>
    Verse 14: “For this reason I kneel before the Father...
    Our response: WE ARE CALLED TO PRAY FIRST!

    Verse 15: “From whom every family in heaven and on earth derives its name…”
    Our Response: WE ARE CALLED TO SEE THE VALUE IN EVERYONE!

    Verse 16: “I pray that out of his glorious riches he may strengthen you with power through His Spirit in your inner being…”
    Our Response: WE ARE CALLED TO BELIEVE THAT JESUS CHANGES EVERYTHING!
    
    Verse 17: “So that Christ may dwell in your hearts through faith.  And I pray that you, being rooted and established in love…”
    Our Response: WE ARE CALLED TO KNOW GOD THROUGH A RELATIONSHIP WITH JESUS!
    
    Verse 18: “May have power, together with all the Lord’s holy people, to grasp how wide and long and high and deep is the love of Christ…”
    Our Response: WE ARE CALLED TO EXPRESS CHRIST’S LOVE THROUGH COMMUNITY!
    
    Verse 19: “And to know this love that surpasses knowledge — that you may be filled to the measure of all the fullness of God…”
    Our Response: WE ARE CALLED TO GIVE GOD OUR WHOLE HEART!

    Verse 20: “Now to him who is able to do immeasurably more than all we ask or imagine, according to his power that is at work within us…”
    Our Response: WE ARE CALLED TO HAVE BIG FAITH!

    Verse 21: “To him be glory in the church and in Christ Jesus throughout all generations, for ever and ever!  Amen!”
    Our Response: WE ARE CALLED TO FOCUS ON WHAT MATTERS!
   </div>     
<div class="">
    <p>
        [ALL SCRIPTURE USED IS FROM THE NEW INTERNATIONAL VERSION]
    </p>
    <!-- <div>
        <a tabindex="0" class="btn btn-outline-info" role="button" data-toggle="popover" data-trigger="focus" 
        title="Did you know that The Grove is associated with the church of the Nazarene?" 
        data-content="You can find out more information on the church of the nazarene by clicking the link on the navbar about dropdown.">
            Click for Fun Fact
        </a>
    </div>
    <div>
        <a tabindex="0" class="btn btn-outline-info" role="button" data-toggle="popover" data-trigger="focus" 
        title="Did you know that The Grove is associated with the church of the Nazarene?" 
        data-content="You can find out more information on the church of the nazarene by clicking the link on the navbar about dropdown.">
            Click for Fun Fact
        </a>
    </div>
    <div>
        <a tabindex="0" class="btn btn-outline-info" role="button" data-toggle="popover" data-trigger="focus" 
        title="Did you know that The Grove is associated with the church of the Nazarene?" 
        data-content="You can find out more information on the church of the nazarene by clicking the link on the navbar about dropdown.">
            Click for Fun Fact
        </a>
    </div> -->
</div>

<% include ./partials/footer %>