<% include ./partials/header %>

<div class="coffee__header">
    <h2 class="coffee-header__copy">Inspiring People to Awaken</h2>
</div>
<section class="coffee__content-wrap">
    <div class="coffee__sidebar">
        <div class="coffee-sidebar__bg-color"></div>
        <h3 class="coffee-sidebar__title">Store info</h3>
        <p class="coffee-sidebar__info">hours</p>
        <p class="coffee-sidebar__info">phone</p>
        <p class="coffee-sidebar__info">address</p>
        <p class="coffee-sidebar__info">pizza not</p>
    </div>

    <div class="coffee__menu">
        <div class="coffee-menu__header">
            <img src="images/grove-G2.png" alt="The Grove Logo" class="coffee-menu__header-img">
            <div class="coffee-menu__header-title">Menu</div>
        </div>
        <div class="coffee-menu__content">
            <div class="coffee-menu__content-col">
                <div class="coffee-menu__content-title">Drinks</div>
                <div class="coffee-menu__content-copy">Coffee</div>
                <div class="coffee-menu__content-copy">Latte</div>
                <div class="coffee-menu__content-copy">Mocha</div>
            </div>
            <div class="coffee-menu__content-col">
                <div class="coffee-menu__content-title">Food</div>
                <div class="coffee-menu__content-copy">Muffin</div>
                <div class="coffee-menu__content-copy">Bagle</div>
                <div class="coffee-menu__content-copy">Banana</div>
            </div>
        </div>
    </div>
</section>




<% include ./partials/footer %>