<% include ./partials/header %>
<section>
    <div class="main-page__title-wrap">
        <h1 class="main-page__title">The Grove Community Church</h1>
        <h3 class="title__title-subtitle">Join us: Sunday 10:15 am or 6:30 pm</h3>
        <div class="flex bg-333">
            <div class="main-page__title-img main-page__title-img-side main-page__title-img-1"></div>
            <div class="main-page__title-img main-page__title-img-center main-page__title-img-2"></div>
            <div class="main-page__title-img main-page__title-img-side main-page__title-img-3"></div>
        </div>
    </div>
</section>

<section>
    <div class="main-page__card-wrap">
        <div class="main-page__card-copy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
        </div>
        <div class="main-page__card-img main-page__card-img-1"></div>
    </div>

    <div class="main-page__card-wrap">
        <div class="main-page__card-img main-page__card-img-1"></div>
        <div class="main-page__card-copy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
        </div>
    </div>

    <div class="main-page__card-wrap">
            <div class="main-page__card-copy">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
            </div>
            <div class="main-page__card-img main-page__card-img-1"></div>
    </div>
</section>



<% include ./partials/footer %>