<% include ./partials/header %>
<section class="full-height">

    <div>
        <h1>Welcome to Your Grove</h1>
    </div>

    <div class="splash">
        <img src="images/Amanda-baptism.jpg" alt="Baptism" class="grayscale">
        <img src="images/Vidal-baptism.jpg" alt="Praise" class="grayscale">
        <img src="images/Andy-preaching.jpg" alt="Preaching" class="grayscale">
        <!-- <img src="/images/aaron-burden-287555-unsplash.jpg" alt="Bible">
        <img src="images/tim-marshall-76166-unsplash.jpg" alt="Faith"> -->
    </div>

</section>


<!-- <section>
    <div>
        <p>Come click a link to see the thing <a href="/about">here.</a></p>
    </div>
</section> -->


<% include ./partials/footer %>