<% include ./partials/header %>

<div>
    <div>
        <h1 class="display-4">Welcome to Your Grove</h1>
    </div>
</div>


            <div>
                <img src="images/relentless-church-616057-unsplash.jpg" alt="Baptism">
            </div>
            <div>
                <img src="/images/aaron-burden-287555-unsplash.jpg" alt="Bible">
            </div>
            <div>
                <img src="images/jeremy-perkins-253184-unsplash.jpg" alt="Praise">
            </div>
            <div>
                <img src="images/matt-botsford-566660-unsplash.jpg" alt="Bible Study">
            </div>
            <div>
                <img src="images/tim-marshall-76166-unsplash.jpg" alt="Faith">
            </div>
        


<section>
    <div>
        <p>Come click a link to see the thing <a href="/about">here.</a></p>
    </div>
</section>


<% include ./partials/footer %>