<% include ./partials/header %>
<section>

    <div class="title__wrap">
        <h1 class="title__title">Welcome to Your Grove</h1>
        <div class="flex bg-333">
            <div class="title__img title__img-side title__img-1"></div>
            <div class="title__img title__img-center title__img-2"></div>
            <div class="title__img title__img-side title__img-3"></div>
        </div>
    </div>
</section>

<section>
    <div class="main-page__card-wrap">
        <div class="main-page__card-copy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
        </div>
        <div class="main-page__card-img main-page__card-img-1"></div>
    </div>

    <div class="main-page__card-wrap">
        <div class="main-page__card-img main-page__card-img-1"></div>
        <div class="main-page__card-copy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
        </div>
    </div>

    <div class="main-page__card-wrap">
            <div class="main-page__card-copy">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
            </div>
            <div class="main-page__card-img main-page__card-img-1"></div>
    </div>
</section>
    



<!-- <section>
    <div>
        <p>Come click a link to see the thing <a href="/about">here.</a></p>
    </div>
</section> -->


<% include ./partials/footer %>