<% include ./partials/header %>

   
    <div class="">
        <div class="">
            <h1 class="">Thanks for Visiting!</h1>
            <p class="">The Grove website is currently under construction, please come back later.</p>
            <hr class="">
            <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="">
        <img class="" src="/images/aaron-burden-287555-unsplash.jpg" alt="Bible">
    </div>
    

<% include ./partials/footer %>