<% include ./partials/header %>

<h1 class="story-page__header">History of The Grove</h1>
<section>
    <div class="story-page__card-wrap">
        <div class="story-page__card-copy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
        </div>
        <div class="story-page__card-img story-page__card-img-1"></div>
    </div>

    <div class="story-page__card-wrap">
        <div class="story-page__card-img story-page__card-img-1"></div>
        <div class="story-page__card-copy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
        </div>
    </div>

    <div class="story-page__card-wrap">
            <div class="story-page__card-copy">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
            </div>
            <div class="story-page__card-img story-page__card-img-1"></div>
    </div>
</section>
<div class="horizontal-line"></div>

<section id="leadership" class="story-page__leader-wrap">

    <h2 class="story-page__header">Leadership of The Grove</h2>
    
    <div class="story-page__leader-card-wrap">
        <div class="story-page__leader-card-img story-page__card-headshot-1"></div>
        <div class="story-page__leader-card-copy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
        </div>
    </div>

    <div class="story-page__leader-card-wrap">
        <div class="story-page__leader-card-img story-page__card-headshot-1"></div>
        <div class="story-page__leader-card-copy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
        </div>
    </div>

    <div class="story-page__leader-card-wrap">
        <div class="story-page__leader-card-img story-page__card-headshot-1"></div>
        <div class="story-page__leader-card-copy">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto, eius ut distinctio sapiente modi itaque ullam sed magni porro officia? Porro aut corporis laudantium voluptatibus. Illo hic facilis laudantium?
        </div>
    </div>

</section>

<% include ./partials/footer %>