* {
	scroll-behavior: smooth;
	margin: 0;
}

body {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 1px;
	background: #eee;
	font-size: 1.5vw;
}
.w-100 {
	width: 100%;
}
.horizontal-line {
	width: 80%;
	border-bottom: .5vw solid #333;
	margin: 10vw auto;
}


/* Navbar styles */
.header__nav {
	position: fixed;
	top: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	background-color: #333;
	padding: .3vw .7vw;
	opacity: 0.7;
	color: #fff;
	font-size: 1.5vw;
	width: 100%;
	z-index: 100;
}
.header__nav-logo {
	display: flex;
	align-items: center;
	padding: 0 1vw;
}
.header__nav-logo--img {
	height: 70px;
	width: auto;
}
.header-bars__wrap {
	display: flex;
	font-size: 7vw;
	position: absolute;
	top: 3.5vw;
	right: 5vw;
	cursor: pointer;
}
nav ul {
	list-style: none;
	overflow: hidden;
}
.header__nav-right {
	display: flex;
	align-items: center;
}
.header__nav-right > ul {
	padding: 0;
	margin-right: 1.5vw;
	display: inherit;
	flex-direction: row;
	flex-flow: row nowrap;
	justify-content: end;
}
.nav-right ul li {
	padding-right: 0.5vw;
}
nav ul li,
nav ul li ul li {
	padding: 0.3vw;
}
nav ul li ul {
	position: absolute;
	background: #4c9b2f;
	padding: 0.5vw;
	display: flex;
	flex-flow: column nowrap;
	align-content: space-around;
	cursor: pointer;
	opacity: 0.8;
	box-shadow: 1vw 2vw 2.5vw rgba(0, 0, 0, 0.5);
}
nav ul li ul li a {
	color: #4c9b2f;
}
nav a,
nav a:link,
nav a:visited {
	text-align: center;
	text-decoration: none;
	list-style: none;
	color: unset;
	opacity: 0.9;
}
nav:hover {
	opacity: 1;
	background: #4c9b2f;
	color: #fff;
	transition: all .3s;
}
nav a:hover {
	opacity: 1;
	transition: all .3s;
}
nav .header-nav__img-change-1:hover {
	display: none;
}
nav .dropDown .dropDown-content {
	display: none;
}
.active {
	display: inherit;
}
/* END NAV STYLES */


/* Splash Page Styles */
.splash-page-img__wrap {
	width: 100%;
	position: relative;
	box-shadow: -1vw 0 4vw 3vw rgba(51,51,51,0.4);
}
.splash-page__img {
	background: url("/images/aaron-burden-287555-unsplash.jpg") center center/cover no-repeat;
	height: 53vw;
	filter: grayscale(75%);
	margin-bottom: 8vw;
}
.splash-page__title {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
	color: #fff;
	text-align: center;
	width: 80%;
	background-color: #333;
	padding: 1vw 0;
	opacity: .7;
	font-size: 3vw;
	transform: translate(-50%, -50%);
}
.splash-page-subtitle__wrap {
	position: absolute;
	bottom: 2vw;
	z-index: 5;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 1.5vw;
	background-color: #333;
	padding: 1.25vw 0;
	opacity: 0.7;
	width: 50%;
	text-align: center;
}
.splash-page-subtitle__copy {
	padding: 1.25vw;
}
.splash-page__img-title {
	position: absolute;
	left: 50%;
	top: 25%;
	z-index: 5;
	color: #fff;
	text-align: center;
	width: 100%;
	background-color: #333;
	padding: 1vw 0;
	opacity: .7;
	font-size: 5vw;
	transform: translate(-50%, -50%);
}


/* Main Page Styles */
div.flex {
	display: flex;
	justify-content: space-between;
}
.bg-333 {
	background-color: #333;
}
.main-page__title-wrap {
	width: 100%;
	position: relative;
	box-shadow: -1vw 0 4vw 3vw rgba(51,51,51,0.4);
}
.main-page__title {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
	color: #fff;
	text-align: center;
	width: 100%;
	background-color: #333;
	padding: 1vw 0;
	opacity: .7;
	font-size: 5vw;
	transform: translate(-50%, -50%);
}
.main-page__title--subtitle {
	position: absolute;
	bottom: 2vw;
	z-index: 5;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 2vw;
	background-color: #333;
	padding: 1vw 0;
	opacity: 0.7;
	width: 50%;
	text-align: center;
}
.main-page__title-img {
	background: center center/cover no-repeat;
	height: 40vw;
	filter: grayscale(75%);
}
.main-page__title-img-side {
	width: 25%;
}
.main-page__title-img-center {
	width: 48%;
}
.main-page__title-img-1{
	background-image: url("../images/Amanda-baptism.jpg");
}
.main-page__title-img-2{
	background-image: url("../images/Worship-thegrove.jpg");
}
.main-page__title-img-3{
	background-image: url("../images/Vidal-baptism.jpg");
}
.main-page__card-wrap {
	display: flex;
	width: 80%;
	justify-content: space-around;
	align-items: center;
	margin: 10vw auto;
}
.main-page__card-copy {
	width: 60%;
	font-size: 2vw;
	border-right: .5vw solid #333;
	border-left: .5vw solid #333;
	padding: 1.5vw;
}
.main-page__card-img {
	height: 15vw;
	background: center center/cover no-repeat;
	width: 30%;
}
.main-page__card-img-1 {
	background-image: url("../images/Worship-thegrove.jpg");
}


/*Story Page Styles */
.story-page__header {
	width: 100%;
	height: 35vw;
	background-image: url("../images/store-front-backside.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 -10vw 15vw 0 black;
}
.story-page-header__copy {
	position: absolute;
	top: 28vw;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1vw;
	font-size: 4.5vw;
	color: white;
	border-bottom: solid 1vw #4c9b2f;
	text-transform: uppercase;
}
.story-page-leader__header {
	text-align: center;
	font-size: 3.5vw;
}
.story-page__card-wrap {
	display: flex;
	width: 80%;
	justify-content: space-around;
	align-items: center;
	margin: 5vw auto;
}
.story-page__card-copy {
	width: 50%;
	font-size: 2vw;
	border-right: .5vw solid #333;
	border-left: .5vw solid #333;
	padding: 1.5vw;
}
.story-page__card-img {
	height: 20vw;
	background: center center/cover no-repeat;
	width: 50%;
	margin: 0 2vw;
}
.story-page__card-img-1 {
	background-image: url("../images/Worship-thegrove.jpg");
}
.story-page-leader__card-img {
	height: 15vw;
	background: center center/cover no-repeat;
	width: 100%;
}
.story-page-leader__card-headshot-1 {
	background-image: url("../images/headshot-unsplash.jpg");
}
.story-page-leader__wrap {
	display: flex;
	justify-content: space-around;
	margin: 5vw 0;
}
.story-page-leader__card-wrap {
	width: 25%;
	padding: 2%;
	box-shadow: 0vw 1vw 1vw 0vw #333;
	background-color: #fff;
}
.story-page-leader__card-copy-wrap {
	padding: 1.5vw 0;
	width: 100%;
}
.story-page-leader__card-name {
	font-size: 2vw;
	text-align: center;
	margin-bottom: 1vw;
}
.story-page-leader__card-title {
	font-size: 1.5vw;
	text-align: center;
	margin-bottom: 1vw;
}
.story-page-leader__card-copy {
	font-size: 1.25vw;
	padding-top: 1vw;
	border-top: solid 0.25vw #4c9b2f;
}


/* Coffee House Styles */
.coffee__header {
	width: 100%;
	height: 40vw;
	background-image: url("../images/coffee-beans.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 1vw solid #4c9b2f;
}
.coffee-header__copy {
	color: white;
	padding-top: 20vw;
	text-align: center;
	font-size: 5vw;
}
.coffee__content-wrap {
	display: flex;
}
.coffee__sidebar {
	width: 25%;
	padding: 3vw;
	color: white;
	background-image: url("../images/vertical-coffee.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	z-index: -2;
}
.coffee-sidebar__bg-color {
	position: absolute;
	background-color: #333;
	top: 0;
	left: 0;
	opacity: 0.7;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.coffee-sidebar__title{
	font-size: 4vw;
	text-transform: uppercase;
}
.coffee-sidebar__info {
	font-size: 2vw;
	margin: 3vw 0;
	text-transform: uppercase;
}
.coffee__menu {
	width: 75%;
	border-left: 1vw solid #4c9b2f;
	border-right: 1vw solid #4c9b2f;
}
.coffee-menu__header {
	text-align: center;
}
.coffee-menu__header-title {
	color: #4c9b2f;
	font-size: 6vw;
	text-transform: uppercase;
	margin: 2vw auto;
}
.coffee-menu__header-img {
	width: 15vw;
}
.coffee-menu__content {
	display: flex;
	color: #4c9b2f;
	margin: 0 6vw 6vw;
}
.coffee-menu__content-col {
	width: 50%;
	text-align: center;
}
.coffee-menu__content-title {
	font-size: 4vw;
	text-transform: uppercase;
	border-bottom: 4px solid #4c9b2f;
	width: 50%;
	margin: 2vw auto;
}
.coffee-menu__content-copy {
	font-size: 2vw;
	margin: 1vw 0;
}


/* About Page "Mission, Vision Page" */
.about-page {
	display: flex;
}
.about-page__header {
	text-align: center;
	font-size: 4vw;
	margin-bottom: 3vw;
}
.about-page__sidebar {
	width: 30%;
	background-image: url("../images/cross.jpg");
	background-position: 70%;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset -5vw 2vw 6vw 1vw #eee;
}
.about-page__wrap {
	width: 70%;
	padding: 10vw 10vw 5vw 4vw;
}
.about-page__copy {
	font-size: 1.15vw;
	margin: 1vw 2vw 2vw;
	color: #1a1a1a;	
}
.about-page-copy__title {
	font-size: 1.5vw;
}
.about-page__statement{
	font-size: 2.5vw;
	text-transform: capitalize;
	margin: 0 auto;
}


/* Call Page Styles */
.call-page-item__wrap {
	padding: 2vw;
}
.call-page__header-wrap {
	background: url("../images/Andy-preaching.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 -10vw 10vw 0 black;
}
.call-page__header {
	color: white;
	text-transform: uppercase;
	font-size: 15vw;
	width: 30%;
	padding: 6vw 0 2vw 10vw;
}
.call-page__header-copy {
	font-size: 2vw;
	text-align: center;
	padding: 3vw;
	background-color: black;
	color: white;
}
.call-page-section__wrap {
	display: flex;
	margin: 5vw 3vw;
	border-bottom: .75vw solid #4c9b2f;
}
.call-page-section__content-wrap {
	width: 60%;
}
.call-page-section__images-wrap {
	width: 40%;
	position: relative;
	padding-top: 2vw;
	display: flex;
	align-items: center;
	left: 10vw;
}
.call-page-section__image-wrap {
	width: 60%;
	position: absolute;
	transition: all .5s;
}
.call-page-section__image {
	transition: all .5s;
}
.call-page-section__image:hover {
	transform: scale(1.1);
	box-shadow: 0 1vw 10vw -1vw black;
}
.call-page-section__images-wrap:hover .call-page-section__image:not(:hover) {
	opacity: 0.9;
	filter: grayscale(75%);
}
.call-page-section__image-wrap:hover {
	z-index: 5;
}
.call-page-section__image-wrap--img1 {
	top: 4vw;
	left: -6vw;
}
.call-page-section__image-wrap--img2 {
	top: 0;
	left: 0;
}
.call-page-section__image-wrap--img3 {
	top: 8vw;
	left: 6vw;
}
.call-page-section__image {
	width: 100%;
}
.call-page-item__copy {
	font-size: 1.5vw;
}


/*Footer Styles */
.footer__wrap {
	background-color: #4c9b2f;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 5vw 0;
	box-shadow: 0 100vh 0 100vh #4c9b2f;
}
/* Icon WRAP */
.footer-icons__wrap {
	display: flex;
	flex-direction: column;
}

.footer-icons__icon-wrap {
	display: flex;
	justify-content: center;
	font-size: 12vw;
}
.footer-icons__copy {
	font-size: 8vw;
	text-align: center;
}
.footer-icons__icon {
	color: white;
	padding: 0 3vw;
}
.footer-img__wrap {
	width: 50%;
	margin: 0 auto;
}
.footer-img__img {
	width: 100%;
}
/* .footer-copyright__wrap {
	align-self: flex-end;
} */
.footer-copyright__copy,
.footer-copyright__copy a {
	padding: 2vw 0;
	font-size: 1vw;
	color: white;
}
.footer-donate-button {
	background-color: white;
	font-family: inherit;
	font-size: 7vw;
	color: #4c9b2f;
	width: 80%;
	margin: 7vw auto;
	padding: 2vw;
	display: block;
	cursor: pointer;
	border: none;
	transition: 0.5s all;
}
.footer-donate-button:hover {
	border-radius: 30px;
}

/* Media Queries and size adjustings */
@media(max-width: 680px) {
	nav {
		flex-flow: column wrap;
	}
}

/* Navbar media Query!!!!! */
@media screen and (min-width: 768px) {
	.header__nav {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		height: 70px;
		align-items: center;
	}
	.header__nav-right {
		display:  flex !IMPORTANT;
	}
	.header__nav-right > li {
		text-align: center;
		margin: 2vw 0;
	}
	.header__nav-right li {
		margin: 0;
	}
	.header-bars__wrap {
		display: none;
	}
}



@media (min-width: 720px) { 
	
	.horizontal-line {
		border-bottom: .5vw solid #333;
		margin: 10vw auto;
	}
	
	/* Main Page Styles */
	.main-page__title-wrap {
		box-shadow: -1vw 0 4vw 3vw rgba(51,51,51,0.4);
	}
	.main-page__title {
		left: 50%;
		top: 50%;
		padding: 1vw 0;
	}
	.main-page__title--subtitle {
		bottom: 2vw;
		left: 50%;
		font-size: 2vw;
		padding: 1vw 0;
		width: 50%;
	}
	.main-page__title-img {
		height: 40vw;
	}
	.main-page__title-img-side {
		width: 25%;
	}
	.main-page__title-img-center {
		width: 48%;
	}
	.main-page__card-wrap {
		width: 80%;
		margin: 10vw auto;
	}
	.main-page__card-copy {
		width: 60%;
		font-size: 2vw;
		padding: 1.5vw;
	}
	.main-page__card-img {
		height: 15vw;
		width: 30%;
	}	
	
	/* Navbar styles */
	.header__nav {
		padding: .3rem .7rem;
		font-size: 1.125rem;
	}
	.header__nav-logo {
		padding: 0 1.5rem;
	}
	.header__nav-logo--img {
		height: 70px;
	}
	.header__nav-right > ul {
		margin-right: 2rem;
	}
	.nav-right ul li {
		padding-right: 0.5rem;
	}
	
	nav ul li,
	nav ul li ul li {
		padding: 0.3rem;
	}
	nav ul li ul{
		padding: 0.5rem;
		box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.5);
	}
	/* @media(max-width: 680px) {
		nav {
			flex-flow: column wrap;
		}
	} */
	/* END NAV STYLES */
	
	/*Story Page Styles */
	.story-page__header {
		height: 35vw;
		box-shadow: inset 0 -10vw 15vw 0 black;
	}
	.story-page-header__copy {
		top: 28vw;
		left: 50%;
		padding: 1vw;
		font-size: 4.5vw;
	}
	.story-page-leader__header {
		font-size: 3.5vw;
	}
	.story-page__card-wrap {
		width: 80%;
		margin: 5vw auto;
	}
	.story-page__card-copy {
		width: 50%;
		font-size: 2vw;
		padding: 1.5vw;	
	}
	.story-page__card-img {
		height: 20vw;
		width: 50%;
		margin: 0 2vw;
	}
	.story-page-leader__card-img {
		height: 15vw;
	}
	.story-page-leader__wrap {
		margin: 5vw 0;
	}
	.story-page-leader__card-wrap {
		width: 25%;
		padding: 2%;
		box-shadow: 0vw 1vw 1vw 0vw #333;
	}
	.story-page-leader__card-copy-wrap {
		padding: 1.5vw 0;
	}
	.story-page-leader__card-name {
		font-size: 2vw;
		margin-bottom: 1vw;
	}
	.story-page-leader__card-title {
		font-size: 1.5vw;
		margin-bottom: 1vw;
	}
	.story-page-leader__card-copy {
		font-size: 1.25vw;
		padding-top: 1vw;
	}
	
	/* Coffee House Styles */
	
	.coffee__header {
		height: 40vw;
	}
	.coffee-header__copy {
		padding-top: 20vw;
		font-size: 5vw;
	}
	.coffee__sidebar {
		width: 25%;
		padding: 3vw;
	}
	.coffee-sidebar__title{
		font-size: 4vw;
	}
	.coffee-sidebar__info {
		font-size: 2vw;
		margin: 3vw 0;	
	}
	.coffee-menu__header-title {
		margin: 2vw auto;
	}
	.coffee-menu__header-img {
		width: 15vw;
	}
	.coffee-menu__content {
		margin: 0 6vw 6vw;
	}
	.coffee-menu__content-col {
		width: 50%;
	}
	.coffee-menu__content-title {
		font-size: 4vw;
		width: 50%;
		margin: 2vw auto;
	}
	.coffee-menu__content-copy {
		font-size: 2vw;
		margin: 1vw 0;
	}
	
	/* About Page "Mission, Vision Page" */
	/* .about-page {
	} */
	.about-page__header {
		font-size: 4vw;
		margin-bottom: 3vw;
	}
	.about-page__sidebar {
		width: 30%;
		box-shadow: inset -5vw 2vw 6vw 1vw #eee;
	}
	.about-page__wrap {
		width: 70%;
		padding: 10vw 10vw 5vw 4vw;
	}
	.about-page__copy {
		font-size: 1.15vw;
		margin: 1vw 2vw 2vw;
	}
	.about-page-copy__title {
		font-size: 1.5vw;
	}
	.about-page__statement{
		font-size: 2.5vw;
	}
	
	/* Call Page Styles */
	
	.call-page-item__wrap {
		padding: 2vw;
	}
	.call-page__header {
		font-size: 15vw;
		width: 30%;
		padding: 6vw 0 2vw 10vw;
	}
	.call-page__header-copy {
		font-size: 2vw;
		padding: 3vw;
	}
	.call-page-section__wrap {
		margin: 5vw 3vw;
	}
	.call-page-section__content-wrap {
		width: 60%;
	}
	.call-page-section__images-wrap {
		width: 40%;
		padding-top: 2vw;
		left: 10vw;
	}
	.call-page-section__image-wrap {
		width: 60%;
	}


	.call-page-item__copy {
		font-size: 1.5vw;
	}
	
	/*Footer Styles */
	.footer__wrap {
		height: 20vw;
		padding: 0 5vw;
	}

/*Footer Styles */
.footer__wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 5vw;
	box-shadow: 0 100vh 0 100vh #4c9b2f;
}
.footer-icons__copy {
	font-size: 3vw;
}
.footer-icons__icon-wrap {
	display: flex;
	justify-content: space-evenly;
	font-size: 3vw;
}
.footer-icons__icon {
	color: white;
	padding: unset;
}
.footer-img__wrap {
	width: 15%;
	margin: unset;
}
.footer-img__img {
	width: 100%;
}
/* .footer-copyright__wrap {
	align-self: flex-end;
} */
.footer-copyright__copy,
.footer-copyright__copy a {
	padding: 2vw 0;
	font-size: 1vw;
	color: white;
}
.footer-donate-button {
	font-size: 4vw;
	padding: 1vw 6vw;
	width: 100%;
	margin: 0;
}
.footer-donate-button:hover {
	border-radius: 30px;
}

	/* /* .footer-icons__wrap {
	
	}
	.footer-icons__copy {
		font-size: 3vw;
	}
	.footer-icons__icon-wrap {
		font-size: 3vw;
	}

	.footer-img__wrap {
		width: 15%;
	} */
}

/* media queries

smallest: screen 				//phone portrait- default
small: screen and min-width: 480px		//phone landscape
medium:  screen and min-width: 720px
960
1200 max
*/
