* {
	scroll-behavior: smooth;
	margin: 0;
}

body{
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 1px;
	background: #fff;
	font-size: 12px;
}
div.flex {
	display: flex;
}
.w-100 {
	width: 100vw;
}
.splash img {
	max-width: 32%;
	height: auto;
	border: 5px solid black;
}
section.full-height {
	display: flex;
	height: 100vh;
	/* margin-top: 1.525rem; */
}

/* Navbar styles */
nav {
	position: fixed;
	top: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	background-color: transparent;
	padding: .7rem 1rem;
	opacity: 0.95;
	color: #4c9b2f;
	font-size: 1.125rem;
	width: 100%;
	z-index: 100;
}
nav ul {
	list-style: none;
	overflow: hidden;
}
.nav-right > ul {
	padding: 0;
	margin-right: 2rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: end;
}
.nav-right ul li {
	padding-right: 0.5rem;
}
nav .logo,
nav ul li,
nav ul li ul li {
	padding: 0.3rem;
}
nav ul li ul{
	position: absolute;
	background: #4c9b2f;
	padding: 0.5rem;
	display: flex;
	flex-flow: column nowrap;
	align-content: space-around;
	cursor: pointer;
	opacity: 0.8;
	box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.5);
}
nav ul li ul li a{
	color: #4c9b2f;
}
nav a,
nav a:link,
nav a:visited {
	text-align: center;
	text-decoration: none;
	list-style: none;
	color: unset;
	opacity: 0.9;
}
nav:hover {
	opacity: 1;
	background: #4c9b2f;
	color: #fff;
	transition: all .3s;
}
nav a:hover {
	opacity: 1;
	transition: all .3s;
}
nav .dropDown .dropDown-content {
	display: none;
}
.hidden-icon {
	display: none;
}
@media(max-width: 680px) {
	nav {
		flex-flow: column wrap;
	}
}
/* END NAV STYLES */


/* .image {
	display: flex;
	flex-flow: row wrap;
} */
img.grayscale {
	filter: grayscale(70%);
	/* height: 50vh;
	width: 40vw; */
}


/*Footer Styles */
.footer {
	background-color: #4c9b2f;
	color: #fff;
	padding: 2rem 1rem;
}
.connect {
	font-size: 1.5rem;
	padding: 0 .5rem;
}
.container .container.footer-logo img#footer-logo {
	flex-flow: row nowrap;
	justify-content: end;
}
#footer-logo {
	height: 15vh;
	width: auto;
	display: flex;
}
.icons {
	color: #fff;
	width: 30vw;
	flex-flow: row wrap;
	justify-content: space-between;
}
.icons a:link,
.icons a:visited {
	text-decoration: none;
	color: #fff;
}

/* Top and Bottom borders go out */
div.topBotomBordersOut li:before, div.topBotomBordersOut li:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut li:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut li:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut li:hover:before, div.topBotomBordersOut li:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}
