* {
	scroll-behavior: smooth;
	margin: 0;
}

body{
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 1px;
	background-color: #fff;
	font-size: 12px;
}


/* Navbar styles */
nav {
	background-color: #4c9b2f;
	overflow: hidden;
}

nav a,
nav a:link,
nav a:visited {
	text-align: center;
	text-decoration: none;
	list-style: none;
	color: white;
	opacity: 0.9;
}

nav {
	padding: .7rem 1rem;
	opacity: 0.85;
	color: white;
	font-size: 1.125rem;
}

nav:hover {
	opacity: 1;
}

nav a:hover {
	opacity: 1;
}


img {
	z-index: 0;
	position: relative;
	filter: grayscale(70%);
	height: 20vh;
	width: 20vw;
}


/*Footer Styles */
.footer {
	background-color: #4c9b2f;
	color: #fff;
}
.icons {
	color: #fff;
}
.icons a:link,
.icons a:visited {
	text-decoration: none;
	color: #fff;
}